#id_events .form-group {
    margin: 0px;
    padding: 0px;
}
#id_events {
    list-style: none;
}
html {
    width: 100%;
    height: 100%;
    display: flex;
    vertical-align: middle;
}
body {
    width: 100%;
}
.well {
    width: 85%;
}
