{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SAE India - NITD Chapter</title>
        <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <!--Thank you for paying your attention towards the structure and layout of the page. :P nkprince007@gmail.com 
        Hope you find it interesting enough. Mail any suggestions to nkprince007@gmail.com-->
        <!-- STYLES -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style4.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vegas.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome.min.css' %}">
        <!-- STYLES END -->
        <!-- SCRIPTS -->
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/velocity.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vegas.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.scrollreveal.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/typed.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <!-- SCRIPTS END -->
    </head>
    <body>
        <!-- header section start-->
        <section class="banner" role="banner">
            <header id="header">
                <div class="header-content clearfix">
                    <div id="imglogo"> 
                        <a class="logo" href="#banner">
                            <img id="logo-black" src="{% static 'images/logo-black.png' %}" />
                        </a>
                        <a class="logo" href="#banner">
                            <img id="logo-white" src="{% static 'images/logo-white.png' %}" />
                        </a>                         
                    </div>
                    <nav class="navigation" role="navigation">
                        <ul class="primary-nav">
                            <li>
                                <a href="#banner">Home</a>
                            </li>
                            <li>
                                <a href="#intro">About</a>
                            </li>
                            <li>
                                <a href="#events">Events</a>
                            </li>
                            <li>
                                <a href="#gallery">Gallery</a>
                            </li>
                            <li>
                                <a href="#teams">Our Team</a>
                            </li>
                            <li>
                                <a href="#contact">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                    <a href="#" class="nav-toggle">Menu<span></span></a>
                </div>
            </header>
            <div class="banner" id="banner">
                <div class="cb-slideshow">
                    <div class="typed-header">
                        <span>Welcome to SAE</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="full-section">
            <div class="left-pane pull-left">
                <img src="/media/images/events/cycling.jpg">
            </div>
            <div class="right-pane pull-right">
                <div class="text-right">
                    <button class="close-button btn btn-lg btn-danger">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
                <h1 class="full-event-name">Cycling</h1>
                <hr/>
                <p class="full-event-description">Description</p>
            </div>
        </div>
        <!-- header section end -->
        <!-- intro section start -->
        <section id="intro" class="section intro">
            <div id="about-sae" class="container">
                <img class="l-img col-md-4 img-responsive about-img-adj" src="{% static 'images/sae.png' %}">
                <div class="col-md-8">
                    <blockquote class="about-sae-content">
                        <h1 class="about-title">SAE</h1>
                        <p><span class="fa-stack fa-lg"><a href="http://fb.com/SAENITD" target="_blank"><i class="si fa fa-facebook-f fa-lg fa-stack-1x"></i></a></span><span class="fa-stack fa-lg"><a href="http://fb.com/SAENITD"><i class="si fa fa-youtube fa-lg fa-stack-1x"></i></a></span><span class="fa-stack fa-lg"><a href="http://fb.com/SAENITD"><i class="si fa fa-google-plus fa-lg fa-stack-1x"></i></a></span></p>
                        <br> 
                        <p class="about-content-text"><strong>SAE India collegiate chapter of NIT Durgapur</strong> was conceived in <strong>2007</strong> with an idea to <strong>integrate the students</strong> of the college into <strong>international fabric of automobile engineering</strong>. Presently <strong>200 students</strong> are enjoying the benefits of SAE India membership.</p>
                        <p class="about-content-text"><strong>We</strong> organize <strong>a number</strong> of <strong>innovative events</strong>, <strong>workshops</strong> and <strong>lectures</strong> round the year and <strong>a competitive</strong> place where the <strong>sharpest minds battle</strong> in the <strong>quest to achieve disctinction</strong>. The amalgamation of <strong>all these events under a single roof</strong>, during the month of <strong>February</strong> finally results in the unique odyssey called <strong>Motor Zundung</strong> which is <strong>the largest Auto fest of Eastern India</strong>. SAE NIT Durgapur also publishes its <strong>annual magazine</strong> called <strong>Autopia</strong>.</p>
                    </blockquote>
                </div>
            </div>
            <div id="about-sae" class="container">
                <div class="col-md-8">
                    <blockquote class="about-baja-content">
                        <h1 class="about-title">SAE BAJA</h1>
                        <p><span class="fa-stack fa-lg"><a href="http://fb.com/SAENITD"><i class="si fa fa-facebook-f fa-lg fa-stack-1x"></i></a></span><span class="fa-stack fa-lg"><a href="http://fb.com/SAENITD"><i class="si fa fa-youtube fa-lg fa-stack-1x"></i></a></span><span class="fa-stack fa-lg"><a href="http://fb.com/SAENITD"><i class="si fa fa-google-plus fa-lg fa-stack-1x"></i></a></span></p>
                        <br> 
                        <p class="about-content-text"><strong>NDORS</strong> (NIT Durgapur Off-Road Sports), is the <strong>official BAJA team</strong> of <strong>NIT Durgapur</strong>. <strong>We</strong> design and fabricate a <strong>BAJA buggy</strong> every year to participate in <strong>BAJA SAE INDIA</strong>.</p>
                        <p class="about-content-text"><strong>The students</strong> of the college themselves <strong>organize workshops</strong> about <strong>BAJA</strong> and <strong>fabricate</strong> the <strong>buggy from scratch</strong>, starting from the <strong>design</strong> of the <strong>vehicle</strong> to <strong>fabrication of its various components</strong> from the <strong>roll cage</strong>, <strong>transmission</strong>, <strong>suspension</strong>, to the <strong>braking</strong> and <strong>steering system</strong> of the <strong>vehicle</strong>. They, then <strong>participate</strong> in the <strong>baja virtuals</strong> and on qualification, <strong>race their buggy</strong> in the <strong>Pithampur race track in Indore</strong>.</p>
                    </blockquote>
                </div>
                <img src="{% static 'images/baja.png' %}" class="r-img col-md-4 img-responsive about-img-adj">
            </div>
            <div class="text-center">
                <a href="" class="btn-adj btn btn-default">KNOW MORE...</a>
            </div>
        </section>
        <!-- intro section end -->
        <!-- services section start -->
        {% if past_event_list or upcoming_event_list or ongoing_event_list %}
        <section class="event-section" id="events">
            {% if past_event_list %}
            <div class="container">
                <div class="section-header">
                    <h2 class="events-title">Events & Workshops</h2>
                </div>
                <div class="row">
                    <ul class="event-list">
                        {% for event in past_event_list %}
                        <li>
                            <figure class="event">
                                <img alt="event image" src="{{MEDIA_URL}}images/events/{{event.icon}}"/>
                                <figcaption>
                                    <h3 class="event-name">{{event.name}}</h3>
                                    <p class="event-description hidden">{{event.description}}</p>
                                </figcaption>
                            </figure>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if upcoming_event_list %}
            <div class="container">
                <div class="section-header">
                    <h2 class="events-title">Upcoming Events & Notifications</h2>
                </div>
                <div class="row">
                    <ul class="event-list">
                        {% for event in upcoming_event_list %}
                        <li>
                            <figure class="event">
                                <img alt="event image" src="{{MEDIA_URL}}images/events/{{event.icon}}"/>
                                <figcaption>
                                    <h3 class="event-name">{{event.name}}</h3>
                                    <p class="event-description hidden">{{event.description}}</p>
                                </figcaption>
                            </figure>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if ongoing_event_list %}
            <div class="container">
                <div class="section-header">
                    <h2 class="events-title">Ongoing Events</h2>
                </div>
                <div class="row">
                    <ul class="event-list">
                        {% for event in ongoing_event_list %}
                        <li>
                            <figure class="event">
                                <img alt="event image" src="{{MEDIA_URL}}images/events/{{event.icon}}"/>
                                <figcaption>
                                    <h3 class="event-name">{{event.name}}</h3>
                                    <p class="event-description hidden">{{event.description}}</p>
                                </figcaption>
                            </figure>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </section>
        {% endif %}
        <!-- services section end -->
        <!-- gallery section start -->
        <!--<section id="gallery" class="gallery section gallery-section">
            <div class="container-fluid">
                <div class="section-header">
                    <h2 class="gallery-title">Our best <strong>Moments</strong></h2>
                </div>
                <div class="row no-gutter">
                    <div class="col-lg-3 col-md-6 col-sm-6 work">
                        <a href="{% static 'images/fest/9.jpg' %}" class="work-box wb-1">
                            <img src="{% static 'images/fest/9.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <p>Fest</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 work">
                        <a href="{% static 'images/robotics/9.jpg' %}" class="work-box wb-2">
                            <img src="{% static 'images/robotics/9.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <p>Robotics</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 work">
                        <a href="{% static 'images/workshop/6.jpg' %}" class="work-box wb-3">
                            <img src="{% static 'images/workshop/6.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <p>Workshop</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 work">
                        <a href="{% static 'images/baja/12.jpg' %}" class="work-box wb-4">
                            <img src="{% static 'images/baja/12.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <p>Baja</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- gallery section end -->
        <!-- team section start -->
        <section id="teams" class="section team-section">
            <div class="container">
                <div class="section-header">
                    <h2 class="team-title">Meet the <strong>Team</strong></h2>
                    <hr class="team-hr" />
                    <h4 class="team-h4">A perfect blend of creativity and technical wizardry.</h4>
                </div>
                <div class="row text-center">
                    <div class="person person-first pfl">
                        <img src="{% static 'images/team/a.png' %}" alt="Empty" class="img-responsive">
                        <div class="person-content">
                            <h4>Dr.Apurba Layek</h4>
                            <h5 class="role">Faculty Advisor</h5>
                        </div>
                        <ul class="social-icons clearfix"></ul>
                    </div>
                    <div class="person person-first pfr">
                        <img src="{% static 'images/team/n.png' %}" alt="empty" class="img-responsive">
                        <div class="person-content">
                            <h4>Dr.Nilotpal Banerjee</h4>
                            <h5 class="role">Faculty Advisor</h5>
                        </div>
                        <ul class="social-icons clearfix"></ul>
                    </div>
                </div>
                <div class="person person-second perm">
                    <img src="{% static 'images/team/prateek.jpg' %}" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Prateek Srivastav</h4>
                        <h5 class="role">President</h5>
                    </div>
                    <ul class="social-icons clearfix"></ul>
                </div>
                <div class="person person-second perm">
                    <img src="{% static 'images/team/vivek.jpg' %}" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Vivek Shaw</h4>
                        <h5 class="role">General Secretary</h5>
                    </div>
                    <ul class="social-icons clearfix"></ul>
                </div>
                <div class="person person-second perm">
                    <img src="{% static 'images/team/utkarsh.jpg' %}" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Utkarsh</h4>
                        <h5 class="role">Convener</h5>
                    </div>
                    <ul class="social-icons clearfix"></ul>
                </div>
                <div class="person person-second perm">
                    <img src="{% static 'images/team/hasit.jpg' %}" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Hasit</h4>
                        <h5 class="role">Treasurer</h5>
                    </div>
                    <ul class="social-icons clearfix"></ul>
                </div>
                <div class="person person-second more">
                    <img src="{% static 'images/team/pratyusha.jpg' %}" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Pratyusha</h4>
                        <h5 class="role">Vice President</h5>
                    </div>
                    <ul class="social-icons clearfix"></ul>
                </div>
                <div class="person person-second more">
                    <img src="{% static 'images/team/pankaj.jpg' %}" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Pankaj</h4>
                        <h5 class="role">Asst. General Secretary</h5>
                    </div>
                    <ul class="social-icons clearfix"></ul>
                </div>
                <div class="person person-second more">
                    <img src="{% static 'images/team/ayaz.jpg' %}" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Ayaz</h4>
                        <h5 class="role">Co-Convenor</h5>
                    </div>
                    <ul class="social-icons clearfix"></ul>
                </div>
                <div class="person person-second more">
                    <img src="{% static 'images/team/manaswini.jpg' %}" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Manaswini</h4>
                        <h5 class="role">IT Head</h5>
                    </div>
                    <ul class="social-icons clearfix"></ul>
                </div>
                <div class="person person-second more">
                    <img src="{% static 'images/team/aayush.jpg' %}" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Aayush</h4>
                    </div>
                    <ul class="social-icons clearfix"></ul>
                </div>
                <div class="person person-second more">
                    <img src="{% static 'images/team/ankur.jpg' %}" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Ankur</h4>
                    </div>
                    <ul class="social-icons clearfix"></ul>
                </div>
                <div class="person person-second more">
                    <img src="{% static 'images/team/anup.jpg' %}" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Anup</h4>
                    </div>
                    <ul class="social-icons clearfix"></ul>
                </div>
                <div class="person person-second more">
                    <img src="{% static 'images/team/asutosh.jpg' %}" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Asutosh</h4>
                    </div>
                    <ul class="social-icons clearfix"></ul>
                </div>
                <div class="person person-second more">
                    <img src="{% static 'images/team/debjyoti.jpg' %}" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Debjyoti Das</h4>
                    </div>
                    <ul class="social-icons clearfix"></ul>
                </div>
                <div class="person person-second more">
                    <img src="{% static 'images/team/pallavi.jpg' %}" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Pallavi</h4>
                    </div>
                    <ul class="social-icons clearfix"></ul>
                </div>
                <div class="person person-second more">
                    <img src="{% static 'images/team/manisha.jpg' %}" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Manisha</h4>
                    </div>
                    <ul class="social-icons clearfix"></ul>
                </div>
                <div class="person person-second more">
                    <img src="{% static 'images/team/nikhil.jpg' %}" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Nikhil</h4>
                    </div>
                    <ul class="social-icons clearfix"></ul>
                </div>
            </div>
            <p class="text-center"><img id="arrow" src="{% static 'images/arrowUp.png' %}" class="up-arrow" /></p>
        </section>
        <!-- team section end -->
        <!-- sponsor section start -->
        <section class="section section-primary" id="sponsors">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 section-header">
                        <h2 class="text-center"><strong>We</strong> couldn't be <strong>here</strong> without <strong>these</strong> guys.</h2>
                        <hr>
                        <p>Our Loving Sponsors</p>
                    </div>
                </div>
                <div class="row">
                    <ul class="sponsor-list">
                    {% for sponsor in sponsors %}
                        <li><img src="{{sponsor}}" ></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        <!-- sponsor section end -->
        <!-- contact section start -->
        <section id="contact" class="section contact-section">
            <div class="container">
                <div class="section-header">
                    <h2><strong>We</strong>'d love to hear from <strong>you</strong>.</h2>
                </div>
                <div class="container-fluid text-center">
                    <div class="suggestion col-sm-12 col-md-8 col-md-offset-2">
                        <form method="post">
                            <input class="col-sm-12" type="text" placeholder="What's your name?"/>
                            <input class="col-sm-12" type="email" placeholder="Your email address please..."/>
                            <textarea class="col-sm-12" rows="" cols="" placeholder="Tell us what you feel..."></textarea>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-lg btn-primary">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact section end -->
        <!-- share section start -->
        <!-- fb: https://www.facebook.com/SAENITD -->
        <section class="section share-section">
            <span class="fa-stack fa-lg"><i class="si fa fa-inverse fa-lg fa-facebook-f fa-stack-1x"></i></span>
            <span class="fa-stack fa-lg"><i class="si fa fa-inverse fa-lg fa-youtube fa-stack-1x"></i></span>
            <span class="fa-stack fa-lg"><i class="si fa fa-inverse fa-lg fa-google-plus fa-stack-1x"></i></span>
        </section>
        <!-- share section end -->
        <!-- footer start -->
        <section id="foot">
            <div class="foot">
                <p class="">© 2016 SAE-NITD Design Team. All Rights Reserved.</p>
                <p><a href="/admin">Administrator</a></p>
            </div>
        </section>
        <!-- footer end -->
    </body>
</html>
